@using GridMvc.Html

@model IEnumerable<PartyInvites.Models.GuestResponse>





<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <div>
    <p>
        @Html.ActionLink("Create New", "RsvpForm")
    </p>
    <p>
        @using (Html.BeginForm())
        {
            @Html.DropDownList("Coming", new[] {
                                   new SelectListItem() {Text = "Attending", Value = bool.TrueString},
                                   new SelectListItem() {Text = "Not attending", Value = bool.FalseString}
                               }, "All", new { @onchange = "this.form.submit()" })

       }
    </p>
        </div>
    @Html.Grid(Model).Columns(
    
    cols =>
    {
        cols.Add(r => r.Name).SetWidth(120).Sortable(true);
        cols.Add(r => r.Phone).SetWidth(120);
        cols.Add(r => r.WillAttend).Titled("Will Attend").SetWidth(100).Sortable(true);
    }
    )

        @*<table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WillAttend)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayTextFor(modelItem =>item.WillAttend)
                        </td>
                    </tr>
                }

            </table>*@

    </body>
</html>
